// Colors
$color-base: #777; // base font
$color-primary: #58e1c1; // primary headline
$color-default: #51ddfc; // default link/button
$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$color-warning: #fd7856;
$color-border: #ccc; // image border color

$white: #fff; 

/*
color: #777; base style color *** color-base
color: #58e1c1; headline primary **** color-primary
color: #51ddfc; link color/default ** 
12 different theme colors, can be used with the random gen

buttons
.error background-color: #e4757a; color-btn-error
.info  background-color: #927bc1; color-btn-info
.success background-color: #63cc82; color-btn-success
.warning background-color: #fd7856; color-btn-warn

border
border: 1px solid #ccc;
*/

