// Colors
$color-base: #777; // base font
$color-primary: #58e1c1; // primary headline
$color-default: #51ddfc; // default link/button
$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$color-warning: #fd7856;
$color-border: #ccc; // image border color

$white: #fff; 

// Media breakpoints
$break-sm: 768px;
$break-max: 1400px;


// Button color maps

$button-colors: (
    'default': $color-default,
    'error': $color-error,
    'info': $color-info,
    'success': $color-success,
    'warning': $color-warning,
);
